<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PLG</title>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <link rel="stylesheet" type="text/css" href="/static/css/commons.css">
</head>
<body>
    <nav>
        <div class="navbar">
            <div class="nav-logo" style="flex:0.1">
                <img id="logocursor" src="/static/images/bn_pleague-360x360-1.png">
            </div>
            <ul class="nav-item">
                <li ><a class="text" href="/game">近期賽事</a></li><p style="color: white;">|</p>
                <li><a class="text" href="/player">球員數據</a></li><p style="color: white;">|</p>
                <li><a class="text" href="/team">球隊數據</a></li><p style="color: white;">|</p>
            </ul>
            <div class="sign" style="margin-left: auto;margin-right: 40px;">
                <div class="signature"><img id="welcomePic" src=""></div>
                <div class="signout text" style="text-align: center;"><p id="welcomeNickname"></p></div>
            </div>
        </div>
    </nav>
    <section class="bar">
        <div class="gameBar-Container">
            <div class="gameBar">
                <div class="gameType">
                    <p class="text3">例行賽</p>
                    <div class="flexEnd"><p id="dates" class="text3"><span id="week"></span></p></div>
                </div>
                <div class="team"><img id="team1" src="/static/images/logo.png"><p id="team1P" class="text2"></p></div>
                
                <div class="location">
                    <div class="l1"><img id="team2" src="/static/images/logo.png"><p id="team2P" class="text2"></p></div>
                    <div class="l2 text3"><p id="location"></p></div>
                </div>
            </div>
            <div class="gameBar">
                <div class="gameType">
                    <p class="text3">例行賽</p>
                    <div class="flexEnd"><p id="dates" class="text3"><span id="week"></span></p></div>
                </div>
                <div class="team"><img id="team1" src="/static/images/logo.png"><p id="team1P" class="text2"></p></div>
                
                <div class="location">
                    <div class="l1"><img id="team2" src="/static/images/logo.png"><p id="team2P" class="text2"></p></div>
                    <div class="l2 text3"><p id="location"></p></div>
                </div>
            </div>
            <div class="gameBar">
                <div class="gameType">
                    <p class="text3">例行賽</p>
                    <div class="flexEnd"><p id="dates" class="text3"><span id="week"></span></p></div>
                </div>
                <div class="team"><img id="team1" src="/static/images/logo.png"><p id="team1P" class="text2"></p></div>
                
                <div class="location">
                    <div class="l1"><img id="team2" src="/static/images/logo.png"><p id="team2P" class="text2"></p></div>
                    <div class="l2 text3"><p id="location"></p></div>
                </div>
            </div>
            <div class="gameBar">
                <div class="gameType">
                    <p class="text3">例行賽</p>
                    <div class="flexEnd"><p id="dates" class="text3"><span id="week"></span></p></div>
                </div>
                <div class="team"><img id="team1" src="/static/images/logo.png"><p id="team1P" class="text2"></p></div>
                
                <div class="location">
                    <div class="l1"><img id="team2" src="/static/images/logo.png"><p id="team2P" class="text2"></p></div>
                    <div class="l2 text3"><p id="location"></p></div>
                </div>
            </div>
            <div class="gameBar">
                <div class="gameType">
                    <p class="text3">例行賽</p>
                    <div class="flexEnd"><p id="dates" class="text3"><span id="week"></span></p></div>
                </div>
                <div class="team"><img id="team1" src="/static/images/logo.png"><p id="team1P" class="text2"></p></div>
                
                <div class="location">
                    <div class="l1"><img id="team2" src="/static/images/logo.png"><p id="team2P" class="text2"></p></div>
                    <div class="l2 text3"><p id="location"></p></div>
                </div>
            </div>
            <div class="gameBar">
                <div class="gameType">
                    <p class="text3">例行賽</p>
                    <div class="flexEnd"><p id="dates" class="text3"><span id="week"></span></p></div>
                </div>
                <div class="team"><img id="team1" src="/static/images/logo.png"><p id="team1P" class="text2"></p></div>
                
                <div class="location">
                    <div class="l1"><img id="team2" src="/static/images/logo.png"><p id="team2P" class="text2"></p></div>
                    <div class="l2 text3"><p id="location"></p></div>
                </div>
            </div>
            <div class="gameBar">
                <div class="gameType">
                    <p class="text3">例行賽</p>
                    <div class="flexEnd"><p id="dates" class="text3"><span id="week"></span></p></div>
                </div>
                <div class="team"><img id="team1" src="/static/images/logo.png"><p id="team1P" class="text2"></p></div>
                
                <div class="location">
                    <div class="l1"><img id="team2" src="/static/images/logo.png"><p id="team2P" class="text2"></p></div>
                    <div class="l2 text3"><p id="location"></p></div>
                </div>
            </div>
            <div class="gameBar">
                <div class="gameType">
                    <p class="text3">例行賽</p>
                    <div class="flexEnd"><p id="dates" class="text3"><span id="week"></span></p></div>
                </div>
                <div class="team"><img id="team1" src="/static/images/logo.png"><p id="team1P" class="text2"></p></div>
                
                <div class="location">
                    <div class="l1"><img id="team2" src="/static/images/logo.png"><p id="team2P" class="text2"></p></div>
                    <div class="l2 text3"><p id="location"></p></div>
                </div>
            </div>
            <div class="gameBar">
                <div class="gameType">
                    <p class="text3">例行賽</p>
                    <div class="flexEnd"><p id="dates" class="text3"><span id="week"></span></p></div>
                </div>
                <div class="team"><img id="team1" src="/static/images/logo.png"><p id="team1P" class="text2"></p></div>
                
                <div class="location">
                    <div class="l1"><img id="team2" src="/static/images/logo.png"><p id="team2P" class="text2"></p></div>
                    <div class="l2 text3"><p id="location"></p></div>
                </div>
            </div>
            <div class="gameBar">
                <div class="gameType">
                    <p class="text3">例行賽</p>
                    <div class="flexEnd"><p id="dates" class="text3"><span id="week"></span></p></div>
                </div>
                <div class="team"><img id="team1" src="https://d3u20ovlrk4ryy.cloudfront.net/images/king.png"><p id="team1P" class="text2"></p></div>
                
                <div class="location">
                    <div class="l1"><img id="team2" src="/static/images/logo.png"><p id="team2P" class="text2"></p></div>
                    <div class="l2 text3"><p id="location"></p></div>
                </div>
            </div>
            <div class="gameBar">
                <div class="seeall">
                    <a href="https://pleagueofficial.com/schedule-regular-season">SEE ALL GAMES</a>
                </div>
            </div>
           
           
        </div>
    </section>
    <header>
        <div class="headerBG">
            <img src="/static/images/bg3.jpg">
            <div class="headCintainer">
                <div class="welcome">
                    <img src="/static/images/p.leaguer.png">
                    <p class="text" id="welcomeText" style="font-size: 20px;font-style: italic;"></p>
                </div>
                <div class="w2">
                    <img id="fanspic" src="/static/images/c_king5.png">
                    <p class="text" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);" id="c"></p>
                </div>
               
            </div>
        </div>
        
    </header>
    <main>
        <section class="mainBody">
            <div class="titleContainer">
                <div class="lastgame">
                    <div class="LG-p1"><p class="text2" style="font-size: 25px; font-weight: 400;">近期賽程</p>
                    <a href="/game"><img src="/static/images/right-arrow.png"></a></div>
                    
                
                    <div class="hbg">
                        <img src="/static/images/hbg.png">
                        <div class="mask">
                            <p class="text" style="font-size: 20px;">例行賽開打，LET'S DEFENDE!</p>
                        </div>
                    </div>
                </div>
                <div class="teamboard">
                    <div class="LG-p1"><p class="text2" style="font-size: 25px; font-weight: 400;">球隊數據</p>
                        <a href="/team"><img src="/static/images/right-arrow.png"></a></div>
                        
                    
                        <div class="teams">
                            <div class="perteam">
                                <div class="teamlogo"><img src="/static/images/logo.png"></div>
                                <div class="teamP"><p class="text2" style="font-size: 18px;">富邦勇士</p>
                                <p class="text2" style="color: rgb(50, 50, 50);font-weight: 400;font-size: 16px;">22-23 年度賽季總冠軍</p></div>
                            </div>
                            <div class="perteam">
                                <div class="teamlogo"><img src="/static/images/king.png"></div>
                                <div class="teamP"><p class="text2" style="font-size: 18px;">新北國王</p>
                                <p class="text2" style="color: rgb(50, 50, 50);font-weight: 400;font-size: 16px;">22-23 賽季最高勝率</p></div>
                            </div>
                            <div class="perteam">
                                <div class="teamlogo"><img src="/static/images/taoyuan_logo.png"></div>
                                <div class="teamP"><p class="text2" style="font-size: 18px;">桃園領航員</p>
                                <p class="text2" style="color: rgb(50, 50, 50);font-weight: 400;font-size: 16px;">22-23 年度總教練.MVP</p></div>
                            </div>
                            <div class="perteam_end">
                                <a href="/team">SEE ALL TEAMS</a>
                            </div>
                            
                        </div>
                </div>
            </div>
            
            <div class="player">
                <div class="LG-p1"><p class="text2" style="font-size: 25px; font-weight: 400;">球員數據</p>
                    <a href="/player"><img src="/static/images/right-arrow.png"></a></div>
                  
                
                    <ul class="player-title text">
                        <li >背號</li><li>|</li><li>球員</li><li>|</li><li>名人榜</li>
                    </ul>
                    <ul class="player-title text" style="background-color: white;height: 40px;">
                        <li class="text2" style="font-weight: 400;">12</li><li class="text">|</li><li class="text2">林志傑</li><li class="text">|</li><li class="text2">萬年人氣王</li>
                    </ul>
                    <hr>
                    <ul class="player-title text" style="background-color: white;height: 40px;">
                        <li class="text2" style="font-weight: 400;">7</li><li class="text">|</li><li class="text2">林書豪</li><li class="text">|</li><li class="text2">球給書豪</li>
                    </ul>
                    <hr>
                    <ul class="player-title text" style="background-color: white;height: 40px;">
                        <li class="text2" style="font-weight: 400;">6</li><li class="text">|</li><li class="text2">楊敬敏</li><li class="text">|</li><li class="text2">再見士官長</li>
                    </ul>
                    <hr>
                    <ul class="player-title text" style="background-color: white;height: 40px;">
                        <li class="text2" style="font-weight: 400;">69</li><li class="text">|</li><li class="text2">盧峻翔</li><li class="text">|</li><li class="text2">69六起來</li>
                    </ul>
                    <hr>
                    <ul class="player-title text" style="background-color: white;height: 50px;">
                        <li class="text2" style="font-weight: 400;">4</li><li class="text">|</li><li class="text2">高國豪</li><li class="text">|</li><li class="text2">獅隊我來扛</li>
                    </ul>
                    <hr>
                    <ul class="player-title text" style="background-color: white;height: 40px;">
                        <li class="text2" style="font-weight: 400;">3</li><li class="text">|</li><li class="text2">張宗憲</li><li class="text">|</li><li class="text2">最帥噴射機</li>
                    </ul>
                    <hr>
                    <div class="end">
                        <img src="/static/images/star.png">
                    <p >數據為人氣王票選排行  <span>點擊<img src="/static/images/right-arrow.png">前往看更多數據</span></p>
                    </div>
            </div>
        </section>
    </main>
    <footer>

    </footer>
    <script src="/static/js/common.js"></script>
    <script src="/static/js/index.js"></script>
   
</body>
</html>