<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>member</title>
    <link rel="stylesheet" type="text/css" href="/static/css/member.css">
    <link rel="stylesheet" type="text/css" href="/static/css/commons.css">
</head>
</head>
</head>
<body class="memberBody">
    <nav>
        <div class="navbar">
            <div class="nav-logo" style="flex:0.1">
                <img id="logocursor" src="/static/images/bn_pleague-360x360-1.png">
            </div>
            <ul class="nav-item">
                <li ><a class="text" href="/game">近期賽事</a></li><p style="color: white;">|</p>
                <li><a class="text" href="/player">球員數據</a></li><p style="color: white;">|</p>
                <li><a class="text" href="/team">球隊數據</a></li><p style="color: white;">|</p>
            </ul>
            <div class="sign" style="margin-left: auto;margin-right: 40px;">
                <div class="signature"><img id="welcomePic" src=""></div>
                <div class="signout text" style="text-align: center;"><p id="welcomeNickname"></p></div>
            </div>
        </div>
    </nav>
    <header class="headboard">
        <div class="headContainer">
            <div class="a1"><img src="/static/images/bar2.png"><div class="a2"><img src="/static/images/flaming2.png"></div></div>
            <p class="text4">PLG FANS CLUB</p>
        </div> 
    </header>
    <section class="memberContainer1">
        <div class="memberBoard2">
            <div class="boardTitle">
                <div class="b_P"><p>SIGN BOARD</p></div>
                <ul class="dayul">
                    <li>DAY1</li>
                    <li>DAY2</li>
                    <li>DAY3</li>
                    <li>DAY4</li>
                    <li>DAY5</li>
                    <li>DAY6</li>
                    <li>DAY7</li>
                </ul>
                <ul class="picul">
                    <li style="opacity: 50%;"><img src="/static/images/bn_pleague-360x360-1.png"></li>
                    <li style="opacity: 30%;"><img src="/static/images/bn_pleague-360x360-1.png"></li>
                    <li style="opacity: 30%;"><img src="/static/images/bn_pleague-360x360-1.png"></li>
                    <li style="opacity: 30%;"><img src="/static/images/bn_pleague-360x360-1.png"></li>
                    <li style="opacity: 30%;"><img src="/static/images/bn_pleague-360x360-1.png"></li>
                    <li style="opacity: 30%;"><img src="/static/images/bn_pleague-360x360-1.png"></li>
                    <li style="opacity: 30%;"><img src="/static/images/bn_pleague-360x360-1.png"></li>
                </ul>
            </div>
            <div class="titleBtn">
                <button id="helpbtn" style="letter-spacing: 0;">HELP</button>
                <button class="text4" style="letter-spacing: 0;">
                    <select class="ts" style="letter-spacing: 0;" id="ts">
                        <option value="CHANGE TEAM">CHANGE TEAM</option>
                        <option value="臺北富邦勇士">臺北富邦勇士</option>
                        <option value="新北國王">新北國王</option>
                        <option value="新竹街口攻城獅">新竹街口攻城獅</option>
                        <option value="福爾摩沙台新夢想家">福爾摩沙台新夢想家</option>
                        <option value="桃園領航猿">桃園領航猿</option>
                        <option value="高雄17直播鋼鐵人">高雄17直播鋼鐵人</option>
                        
                    </select>
                </button>
            </div>

          
        </div>
        <div class="dialogue" style="display: none;">
            <p>*連續簽到解鎖獎勵徽章</p>
        </div>
    </section>
  
    
    <section class="memberContainer">
        
        <div class="memberBoard">
            <div class="b_P2" style="color: white;"><p>HONORARY MEDAL</p></div>
            <div class="hhContainer">
                <div class="mainHead">
                   
                    <div class="headpic">
                        <img id="headpicimg" src="/static/images/logo.png">
                    </div>
                    <div class="username"><p id="username" class="text4" style="font-size: 30px;margin-top: 20px;padding: 0;"></p></div>
                </div>

                <div class="daypic">
                    <div class="perday">
                        <div class="perdaypic">
                            <img id="dt1" src="/static/images/logo_6_1632713555.png">
                        </div>
                        <div class="perdayP">
                            <p>DAY1</p>
                        </div>
                        
                    </div>

                    <div class="perday">
                        <div class="perdaypic">
                            <img id="dt2" src="/static/images/t1.png">
                        </div>
                        <div class="perdayP">
                            <p>DAY4</p>
                        </div>
                        
                    </div>

                    <div class="perday">
                        <div class="perdaypic">
                            <img id="dt3" src="/static/images/t2.jpg">
                        </div>
                        <div class="perdayP">
                            <p>DAY7</p>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <button id="lineOutBtn">LINE 登出</button>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js'></script>
    <script src="/static/js/member.js"></script>
    <script src="/static/js/common.js"></script>
    <footer></footer>
</body>
</html>