<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PLG</title>
    <link rel="stylesheet" type="text/css" href="/static/css/player.css">
    <link rel="stylesheet" type="text/css" href="/static/css/commons.css">
</head>
<body>
    <nav>
        <div class="navbar">
            <div class="nav-logo" style="flex:0.1">
                <img id="logocursor" src="/static/images/bn_pleague-360x360-1.png">
            </div>
            <ul class="nav-item">
                <li ><a class="text" href="/game">近期賽事</a></li><p style="color: white;">|</p>
                <li><a class="text" href="/player">球員數據</a></li><p style="color: white;">|</p>
                <li><a class="text" href="/team">球隊數據</a></li><p style="color: white;">|</p>
            </ul>
            <div class="sign" style="margin-left: auto;margin-right: 40px;">
                <div class="signature"><img id="welcomePic" src=""></div>
                <div class="signout text" style="text-align: center;"><p id="welcomeNickname"></p></div>
            </div>
        </div>
    </nav>
    
    <header class="head1"><p>STATISTIC</p></header>
    
    <section>
        <div class="playerbody">
            <div class="selection">
                <div class="select">
                    <p class="p1 text4">球隊</p>
                    <p class="text4" style="margin-left: 10px;font-size: 20px;margin-top: 15px;font-weight: 300;">|</p>
                    <select id="open" class="p2 text4" style="margin-top: 0px;">
                        <option value="全部隊伍">全部隊伍</option>
                        <option value="臺北富邦勇士">臺北富邦勇士</option>
                        <option value="新北國王">新北國王</option>
                        <option value="新竹街口攻城獅">新竹街口攻城獅</option>
                        <option value="福爾摩沙台新夢想家">福爾摩沙台新夢想家</option>
                        <option value="桃園領航猿">桃園領航猿</option>
                        <option value="高雄17直播鋼鐵人">高雄17直播鋼鐵人</option>
                        
                    </select>
                   
                </div>
                <div class="select">
                    <p class="p1 text4">球員</p>
                    <p class="text4" style="margin-left: 15px; font-size: 20px; margin-top: 15px; font-weight: 300;">|</p>
                    <select id="open2" class="p2 text4" style="margin-top: 0px;background-position: 75%;">
                        
                       
                    </select>
                </div>
                <div class="select">
                    <input type="text" style="padding-left: 20px;" id="searchBox" placeholder="輸入球員姓名">
                    <p class="text4" style="margin-left: 10px; font-size: 20px; margin-top: 15px; font-weight: 300;">|</p>
                    <button id="searchBtn" type="submit" style="cursor: pointer;"><p>搜尋</p></button>

                </div>
                
            </div>
            <div class="player_container" >
                <div class="p_title" >
                    <div class="p_t ">
                        <p class="p_t1" id="all">球員數據</p>
                    </div>
                    <div class="p_t" >
                        <p class="p_t1" id="userLike">我的最愛</p>
                    </div>
                </div>

                <div class="p_list">
                    <tr></tr>
                </div>
            </div>
            
            <div class="bar">
                <img src="/static/images/bar2.png">
                <p style="color: #000000;font-size: 30px;font-weight: 500;text-align: start;padding-left: 30px;">REGULAR-SEASON 22-23</p>
            </div>

            <table class="mytable" style="padding-top: 40px;">
                <thead >
                    <tr  style="align-items: flex-end;height: 50px;border: none;">
                        <th style="color: #000000;font-size: 40px;text-align: start;padding-left: 30px;font-family: impact;"> PLAYERS STATS</th>
                        
                    </tr>
                    <tr  style="align-items: flex-end; height: 30px;padding-bottom: 30px;">
                        <th style="color: #778595;font-size: 20px;font-weight: 400;text-align: start;padding-left: 30px;"><img style="width: 20px;height: 20px;" src="/static/images/star.png"> 點擊星號將喜愛球員加入追蹤</th>
                        
                    </tr>
                </thead>
                <thead class="p_list">
                    <tr class="list_tltle">
                        
                        <th>追蹤</th>
                        <th>背號</th>
                        <th>球員</th>
                        <th>球隊</th>
                        <th>次數</th>
                        <th>時間</th>
                        <th>兩分％</th>
                        <th>三分％</th>
                        <th>罰球％</th>
                        <th>得分</th>
                        <th>籃板</th>
                        <th>助攻</th>
                        <th>抄截</th>
                        <th>失誤</th>
                        <th>犯規</th>
                    </tr>
                </thead>

                <tbody id="mytbody">
                    <tr class="list_tltle2">
                        <th><img class="myimg" src="/static/images/star (1).png"></th>
                        <th>7</th>
                        <th>林書豪</th>
                        <th>富邦勇士</th>
                        <th>10:20</th>
                        <th>10:20</th>
                        <th>42%</th>
                        <th>42</th>
                        <th>42</th>
                        <th>80.67%</th>
                        <th>12.3</th>
                        <th>12</th>
                        <th>12</th>
                        <th>12</th>
                        <th>12</th>
                    </tr>
                    <tr class="list_tltle2">
                        <th><img class="myimg" src="/static/images/star (1).png"></th>
                        <th >7</th>
                        <th >林書豪</th>
                        <th class="teamcolor">富邦勇士</th>
                        <th>10:20</th>
                        <th>10:20</th>
                        <th>42%</th>
                        <th>42</th>
                        <th>42</th>
                        <th>80.67%</th>
                        <th>12.3</th>
                        <th>12</th>
                        <th>12</th>
                        <th>12</th>
                        <th>12</th>
                    </tr>
                </tbody>
            </table>
        </div>
   

    
        <script src="/static/js/player.js"></script>
        <script src="/static/js/common.js"></script>
</body>
</html>