<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>LINE Login Demo</title>
        <link rel="stylesheet" type="text/css" href="/static/css/signin.css">
        <link rel="stylesheet" type="text/css" href="/static/css/commons.css">
        <link rel="stylesheet" type="text/css" href="/static/css/member.css">
    </head>
    <body class="signBody">
        <nav>
            <div class="navbar">
                <div class="nav-logo" style="flex:0.1">
                    <img src="/static/images/bn_pleague-360x360-1.png">
                </div>
                <ul class="nav-item">
                    <li ><a class="text" href="/game">近期賽事</a></li><p style="color: white;">|</p>
                    <li><a class="text" href="/player">球員數據</a></li><p style="color: white;">|</p>
                    <li><a class="text" href="/team">球隊數據</a></li><p style="color: white;">|</p>
                </ul>
                <div class="sign" style="margin-left: auto;margin-right: 40px;">
                    <div class="signature"><img id="welcomePic" src=""></div>
                    <div class="signout text" style="text-align: center;"><p id="welcomeNickname"></p></div>
                </div>
            </div>
        </nav>
        <header class="headboard">
            <div class="headContainer">
                <div class="a1"><img src="/static/images/bar2.png"><div class="a2"><img src="/static/images/flaming2.png"></div></div>
                <p class="text4">Be a P.LEAGUER</p>
            </div> 
        </header>
        <div class="signinContainer">
              <div class="sign_main" style="border-right: 1.5px solid black ;padding-right: 40px;">
                <p class="text6">SIGN IN</p>
                <button class="signBtn">LINE 登入</button>
                <div class="toSignup">
                    <p>Don’t have a ID ? <span id="signupLink">點此註冊</span></p>
                </div>
            </div>  
            <div class="sign_main" style="margin-left: 20px;">
                <p class="text6">JOIN FANS CLUB</p>
                <p>加入會員開通賽事提醒，及獲得會員簽到獎勵</p>
                <img src="/static/images/QR.png">
            </div>
        </div>

        <div class="signupContainer">
      
           
            <div class="sign_main" >
                <!-- <div class="close_up" >
                    <img src="/static/images/close.png"></div>
                    <div class="sign_title">
                        <p>SIGN UP</p>
                    </div>-->
                <p class="text6">SIGN UP</p>
               
                <form id="signupForm" style="margin-top: 20px;">
                    <p style="margin: 0;" class="ssssss">輸入粉絲暱稱</p>
                <div class="sign_input">
                    
                    <input type="text" id="signUpName">
                </div>
                <p style="margin: 0; "  class="ssssss">選擇隊伍</p>
                <select class="sign_input myselect" id="signUpTeam">
                    <option value="全部隊伍">全部隊伍</option>
                    <option value="臺北富邦勇士">臺北富邦勇士</option>
                    <option value="新北國王">新北國王</option>
                    <option value="新竹街口攻城獅">新竹街口攻城獅</option>
                    <option value="福爾摩沙台新夢想家">福爾摩沙台新夢想家</option>
                    <option value="桃園領航猿">桃園領航猿</option>
                    <option value="高雄17直播鋼鐵人">高雄17直播鋼鐵人</option>
                    
                </select>
                <button class="signupBtn">註冊新帳戶</button></form>
               
                <div class="toSignin">
                    <p>已經有帳戶了？<span id="toSignin">點此登入</span></p>
                </div>
            </div>  
        </div>
       <!--  <button id="lineOutBtn">LINE 登出</button>-->
        
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js'></script>
        <script src='/static/js/newsign.js'></script>
    </body>
    </html>

